h1 …Dehydrated Boulders…
mat-chip-list( *ngIf="audioLoaded; else loadingAudio" )
  mat-chip( (click)="audio.play()", [selected]="audio?.isPlaying" ): mat-icon play_arrow 
  mat-chip( (click)="audio.pause()", color="primary" ): mat-icon pause
  mat-chip( (click)="audio.stop()" ): mat-icon stop
  mat-chip( color="warn", selected="true", routerLink="./sub" ): mat-icon forward
ng-template( #loadingAudio )
  span#loadingAudio( i18n ) Loading {{audioLoadedPercent}}%

three-orbit-contols( [rotateSpeed]=1, [zoomSpeed]='1.2' )
  three-renderer( #mainRenderer )
    three-perspective-camera( [fov]=60, [near]=1, [far]=1100, positionX=28 positionY=52, positionZ=120 )
    
    three-scene
      
      three-axes-helper( size=64 )
      three-grid-helper( size=128, divisions=32 )

      three-point-light( color="#FFFFFF", intensity="1", distance="1000", translateX=50, translateY=50, translateZ=5 )

      three-mesh
        three-plane-buffer-geometry( widthSegments=32, heightSegments=32 )
        custom-shader-material( [shaderData]="analyser.data" )
      
      //- three-collada-loader( model="assets/model/flagPin.dae", [renderer]="mainRenderer" )
        three-axes-helper( size=10 )
