mat-toolbar( color="primary" )
  mat-toolbar-row
    a( [routerLink]="['./']", routerLinkActive="active", [routerLinkActiveOptions]= "{exact: true}" )
      mat-icon stars
    small( style={ 'margin-right': '10px' } ) {{(loggedIn|async)?.user}}
    a( (click)="logout()", *ngIf="(loggedIn|async)" ): mat-icon exit_to_app

main: router-outlet
  
//- dynamic-lazy-load( [loadChildrenCallback]="lazyLoadModuleCallback", componentName="MainCom" )

footer: pre.app-state this.appState.state = {{ appState.state | json }}