mat-grid-list( [cols]="maxGridWidth", rowHeight="200px", [gutterSize]="8" )
  mat-grid-tile( *ngFor="let app of lekkerApps",
    [colspan]="app?.weight||0",
    [routerLink]="app?.link",
    [@flyIn]="'in'" )
    .app
      mat-icon {{app?.icon}}
      h4 {{(app?.name|async)||'...'}}
      p 🔑 &nbsp; {{app?.roles?.join(', ')||'any'}}